.theme1{
    font-family:"Arial", Helvetica, sans-serif;
    font-size:15px;
    line-height: 1.5;
    padding:0;
    margin:0;
    color: black;
    background-color: #f4f4f4;
    background-image: url("../img/img4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.theme2{
    font-family:"Arial", Helvetica, sans-serif;
    font-size:15px;
    color: black;
    line-height: 1.5;
    padding:0;
    margin:0;
    background-color: #f4f4f4;
    background-image: url("../img/img4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*global*/
.container{
    width:80%;
    margin:auto;
    
}

ul{
    padding:0;
}

/*Header*/
header{
    background:white;
    color:black;
    min-height: 70px;
    border-bottom: #0287cb 2px solid;
}
header .marco{
    float: left;
}
header .marco_logo{
    float: right;
}
header .marco a{
    color: #0287cb;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 20px 5px 20px;
    border-radius: 3px;
    
}
header li{
    display: inline;
}
header .marco a:hover{
    background:#0287cb;
    color: white;
    font-weight:bold;
}

 
header #branding{
    float: left;
    margin-top:5px;
}
header #branding h1{
    margin: 0;
}
#showcase h3{
    color: white;
}

header nav{
    float: right;
    margin:0;
    font-size:15px;
    padding:0;
}
header .indices{
    font-size: 15px;
}
header p{
    color: #777676;
    display: inline;
    padding: 0 10px 0 10px;
}
header .contacto{
    margin-top: 12px;
    font-size: 12px;
    margin-bottom: 10px;
    float: right;
}

#showcase{

    text-align:center;

 }
 #showcase h1,p,h3,h4{
     color: white;
 }
#showcase .sub1{
    padding-bottom: 10%;
    padding-top: 10%;
}
 #newsletter{
     padding: 3%;
     background-image:url("../img/opacity1.png");
 }
 #newsletter h1{
     color: white;
     font-size: 18px;
     float: left;
 }
#newsletter form{
    float: right;
}
#newsletter input[type=search]{
    padding: 4px;
    height: 25px;
    width: 250px;
    border-radius: 5px;
}
#newsletter input[type=search]:hover{
    border: 1.5px solid #26C6CE;
}
#newsletter input[type=submit] {
    background-color: #0287cb;
    color: white;
    padding: 6px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    width: auto;
    cursor: pointer;
}
#newsletter input[type=submit]:hover{
    background-color: #0177B1;
}

/*LOG IN*/
.login{
    width: 50%; 
    float: left;
    margin-top:10%;
    margin-bottom:10%;
}
.container_login{
    width: 80%;
    margin:auto;
    margin-top:10%;
    padding: 10px;
}

#showcase input[type=text], #showcase input[type=password]{
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#showcase .login input[type=submit]{
    width: 60%;
    background-color: #0287cb;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#showcase .login input[type=submit]:hover {
    background-color: #0177B1;
}
#showcase .inf{
    text-align: justify;
    width: 30%
}
.moveimage{
    height: 40%;
    margin-top: 10%;
}

/*SESSION*/

.formulario{
    margin-top: 2%;
    margin-bottom: 3%;
}
.tab_izquierda{
    width:25%;
    float: left;
    background: white;
    padding: 1%;
}
.tab_derecha{
    width:70%;
    float: right;

}
.tab_panel{
    margin-bottom:10px;
    background: white;
    padding: 15px;
    width: 100%;
    height: auto;
    float: left;
}
.tab_panel img{
    border: 2px gray solid;
    
}
.tab_panel input[type="file"]{
    width: 0.5px;
    height: 0.5px;
}
.tab_panel input[type="submit"]{
    float: left;
}
.alignleft{ 
    width: 65%;
    margin: 0;
    float: left;
    padding: 10px;
}
.tab_panel .pic{
    width:25%;
}
.alignleft  span{
    width: 120px;
    float: left;
}
.alignleft .sinput{
    width: 200px;
}


/*
.tab_izquierda li, .tab_izquierda a{
    color: #0287cb;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 20px 5px 20px;
    border-radius: 3px;
    width: 80%;
    
    -webkit-appearance: button;
    -webkit-margin: ;
    -moz-margin: ;
    -ms-margin: ;
    -o-margin: ;
    margin: ;-appearance: button;
}
.tab_izquierda a:hover{
    color: white;
    background: #0287cb;
}
.tab_izquierda li{
    padding: 5px;
}
.tab_izquierda a{
    width:80%;
}

/*MODELO 1*/

.tab_izquierda .efex_button1{
    color: #0287cb;
    text-decoration: none;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 20px 5px 20px;
    border-radius: 3px;
    width: 80%;
    background: white; 
    border: none;
}
.buttonefex1{
    color: white;
    text-decoration: none;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 20px 5px 20px;
    border-radius: 6px;
    background: #0287cb;
    border: none; 
}
.buttonefex1:hover{
    color: white;
    background: #0177B1;
}
.edit{
    text-align: center;
    font-size: 15px;
    padding: 5px 25px 5px 25px;
    margin-left: -25px;
    background: white;
}

.tab_izquierda .efex_button1:hover{
    color: white;
    background: #0287cb;
}
.tab_izquierda .selected{
    color: white;
    background: #0287cb;
}


.tab_panel .tagg{
    background: #DCD9D9;
    color: gray;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border: 1px gray solid;
    padding: 5px;
    margin: 0;
}

.tab_panel .tagtext{
    background: white;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 5px;
    margin: 0;
    margin-left: -5px;
    border: 1px gray solid;
}
.tabizq{
    margin-bottom:15px;
}
.tab_panel .alignleft a{
    float: right;
    border: none;
    text-decoration: none;
    color: gray;
    padding-bottom: 2px;
    margin:0;
}
.tab_panel .alignleft li{
    display: inline;
}
.tab_panel .alignleft img{
    border: none;
}
.tabizq label span{
    float: left;
    width: 200px;
}


.tab_panel .alignleft form label{
    background-image: url("../imglogo/camera.png");
    background-repeat: no-repeat;
}
.shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.edit-profile input:not([type="submit"]):valid {
  border-bottom-color: #2ecc71;
}
.edit-profile input:not([type="submit"]):invalid {
  border-bottom-color: #e74c3c;
  box-shadow: none;
  outline: none;
}
.edit-profile input:not([type="submit"]):required{
    
    box-shadow: none;
    outline:none;
}
.edit-profile input:not([type="submit"]) + .input-requirements {
  overflow: hidden;
  max-height: 0;
  transition: max-height 1s ease-out;  
}
.edit-profile input:not([type="submit"]):hover,
.edit-profile input:not([type="submit"]):focus,
.edit-profile input:not([type="submit"]):active{
    outline: none;
}

.edit-profile input:not([type="submit"]):hover + .input-requirements,
.edit-profile input:not([type="submit"]):focus + .input-requirements,
.edit-profile input:not([type="submit"]):active + .input-requirements {
  max-height: 1000px; /* any large number (bigger then the .input-requirements list) */
  transition: max-height 1s ease-in;
}
.input-requirements {
  font-size: 12px;
  font-style: italic;
  text-align: left;
  list-style: disc;
  list-style-position: inside;
  max-width: 400px;
  color: rgb(150,150,150);
}

.input-requirements li.invalid {
	color: #e74c3c;
}
.input-requirements li.valid {
	color: #2ecc71;
}

.input-requirements li.valid:after {
	display: inline-block;
	padding-left: 10px;
	content: "\2713";
}

/*BLOG*/
.container  h1{
    color: white;
    font-weight: bold;
}

/*WORKEXP*/
.title{
    font-size: 16px;
    font-weight: bold;
}
.stag{
    color: #5c5c5c;
    font-weight: bold;
}
.workexp  span{
    width: 200px;
    float: left;
}
.workexp .ssinput{
    margin-bottom: 15px;
}
.sinput{
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px gray solid;
}

.sinput:focus{
    margin-bottom: 20px;
    outline: none;
    border-bottom: 2px gray solid;
}
.sinput:hover{
    border-bottom: 2px black solid;
}
.workexp .slist{
    width:100%;
    color: #5c5c5c;
}

.right{
    float: left;
    width:18%;
    margin-right: 20px;
}
.left{
    float: left;
    width:70%;
}
.right li{
    display: inline;
}

.workexp img{
    border: none;
}
p{
    color: black;
}