body{
    font-family:"Arial", Helvetica, sans-serif;
    font-size:15px;
    line-height: 1.5;
    padding:0;
    margin:0;
    background-color: #f4f4f4;
        background-image: url("../img/img4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
/*global*/
.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}

ul{
    padding:0;
}

/*Header*/
header{
    background:white;
    color:black;
    min-height: 70px;
    border-bottom: #0287cb 2px solid;
}
header .marco{
    float: left;
}
header .marco_logo{
    float: right;
}
header .marco a{
    color: #0287cb;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 20px 5px 20px;
    border-radius: 3px;
    
}
header li{
    display: inline;
}
header .marco a:hover{
    background:#0287cb;
    color: white;
    font-weight:bold;
}

 
header #branding{
    float: left;
    margin-top:5px;
}
header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin:0;
    font-size:15px;
    padding:0;
}
header .indices{
    font-size: 15px;
}
header p{
    color: #777676;
    display: inline;
    padding: 0 10px 0 10px;
}
header .contacto{
    margin-top: 2%;
    font-size: 12px;
}

#showcase{

    text-align:center;

 }
 #showcase h1,p{
     color: white;
 }
#showcase .sub1{
    padding-bottom: 10%;
    padding-top: 10%;
}
 #newsletter{
     padding: 3%;
     background-image:url("../img/opacity1.png");
 }
 #newsletter h1{
     color: white;
     font-size: 18px;
     float: left;
 }
#newsletter form{
    float: right;
}
#newsletter input[type=search]{
    padding: 4px;
    height: 25px;
    width: 250px;
    border-radius: 5px;
}
#newsletter input[type=search]:hover{
    border: 1.5px solid #26C6CE;
}
#newsletter input[type=submit] {
    background-color: #0287cb;
    color: white;
    padding: 6px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    width: auto;
    cursor: pointer;
}
#newsletter input[type=submit]:hover{
    background-color: #0177B1;
}

/*LOG IN*/
.login{
    width: 50%; 
    float: left;
    margin-top:10%;
    margin-bottom:10%;
}
.container_login{
    width: 80%;
    margin:auto;
    margin-top:10%;
    padding: 10px;
}

#showcase input[type=text]{
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#showcase .login input[type=submit]{
    width: 60%;
    background-color: #0287cb;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#showcase .login input[type=submit]:hover {
    background-color: #0177B1;
}
#showcase .inf{
    text-align: justify;
    width: 30%
}
.moveimage{
    height: 40%;
    margin-top: 10%;
}

/*SESSION*/

.formulario{
    margin-top: 2%;
    margin-bottom: 3%;
}
.tab_izquierda{
    width:25%;
    float: left;
    background: white;
    padding: 1%;
}
.tab_derecha{
    width:70%;
    float: right;

}
.tab_panel{
    margin-bottom:10px;
    background: white;
    padding: 15px;
}
.tab_panel img{
    border: 2px gray solid;
    border-radius: 50%;
}
.tab_panel input[type="file"]{
    display: none;
}

/*
.tab_izquierda li, .tab_izquierda a{
    color: #0287cb;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 20px 5px 20px;
    border-radius: 3px;
    width: 80%;
    
    -webkit-appearance: button;
    -moz-appearance: button;
}
.tab_izquierda a:hover{
    color: white;
    background: #0287cb;
}
.tab_izquierda li{
    padding: 5px;
}
.tab_izquierda a{
    width:80%;
}

/*MODELO 1*/

.tab_izquierda .efex_button1{
    color: #0287cb;
    text-decoration: none;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 20px 5px 20px;
    border-radius: 3px;
    width: 80%;
    background: white; 
    border: none;
}
.buttonefex1{
    color: white;
    text-decoration: none;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 20px 5px 20px;
    border-radius: 10%;
    background: #0287cb; 
}

.tab_izquierda .efex_button1:hover{
    color: white;
    background: #0287cb;
}
.tab_izquierda .selected{
    color: white;
    background: #0287cb;
}


/*SESSION MODELO 2*/
/*
.panel-inicio{
    width: 100%;
    margin-top:2%;
    background: white;
    padding: 2%;
    color: black;
}
.panel-inicio .izquierda img{
    border-radius: 50%;
    border: 3px gray solid;
}
.panel-inicio .font{
    color: black;
    font-weight: bold;
}
.panel-inicio li{
    display: inline;
}
.panel-inicio ul a{
    width:10%;
    margin-left:10%;
    margin-right: 10%;
}
*/
.tab_panel .tagg{
    background: #DCD9D9;
    color: gray;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border: 1px gray solid;
    padding: 5px;
    margin: 0;
}
.padd{
    padding: 15px;
    padding-bottom: 15px;
}
.tab_panel .tagtext{
    background: white;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 5px;
    margin: 0;
    margin-left: -5px;
    border: 1px gray solid;
}
.tabizq{
    width:50%;
    float: left;
    margin-bottom:15px;
}
.tabder{
    width: 50%;
    float:left;
    margin-bottom:15px;
}
.tab_panel .field{
    width: auto;
}